version: "3"
services:
  nsqlookupd:
    image: nsqio/nsq
    command: /nsqlookupd
    ports:
      - "4160"
      - "4161"

  nsqd:
    image: nsqio/nsq
    command: /nsqd --lookupd-tcp-address=nsqlookupd:4160 --data-path=/data
    depends_on:
      - nsqlookupd
    ports:
      - "4150:4150"
      - "4151"
    volumes:
      - "./nsqdata:/data"
